.country {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.country-card {
   background: white;
   display: flex;
   flex-direction: column;
   padding: 0.5rem;
   border: 1px solid #222222;
   border-radius: 0.25rem;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.country-card__img {
   align-self: center;
   width: 10rem;
   height: auto;
}

.modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: rgba(0, 0, 0, 0.6);
}

.country-modal {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
