.countries {
    min-height: 100vh;
    padding: 3rem;
    background-color: #eeeeee;
}
.countries__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.countries__input-container > label {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.countries__input-container > input {
    min-width: 15rem;
}
@media (min-width: 40em) {
    .countries__input-container {
        flex-direction: row;
    }
    .countries__input-container > label {
        font-size: 1rem;
        margin-bottom: 0;
    }
    .countries__input-container > input {
        margin-left: 0.5rem;
    }
}
.countries__list-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}